/* Default styles for all pages */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* Ensure full height */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Centering styles */
.centered {
  display: flex;
  flex-direction: column;
  /* Align items vertically */
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
  text-align: center;
  /* Center text inside elements */
  height: 100vh;
  /* Full viewport height */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}